@using SpeCalc.Models
@using SpeCalcDataAccessLayer.Models
@model TenderClaim
@{
    ViewBag.Title = "Новая заявка";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var errorMessage = (string) TempData["errorMessage"];
    var currencyList = new SelectList(new Dictionary<int, string>() {{1, "руб."}, {2, "USD"}, {3, "EUR"}},"Key", "Value");

    DateTime mind = new DateTime();
    mind = DateTime.Now.AddDays(2);
    if (DateTime.Now.DayOfWeek == DayOfWeek.Wednesday)
    { mind = DateTime.Now.AddDays(6); }
    if (DateTime.Now.DayOfWeek == DayOfWeek.Thursday)
    { mind = DateTime.Now.AddDays(5); }
    if (DateTime.Now.DayOfWeek == DayOfWeek.Friday)
    { mind = DateTime.Now.AddDays(4); }
    if (DateTime.Now.DayOfWeek == DayOfWeek.Saturday)
    { mind = DateTime.Now.AddDays(4); }
    if (DateTime.Now.DayOfWeek == DayOfWeek.Sunday)
    { mind = DateTime.Now.AddDays(3); }
    string minDate = mind.ToString("dd-MM-yyyy");

    var department = TempData["department"];
    var userSid = TempData["userSid"].ToString();
    var managerSid = userSid;
    }
@using (Html.BeginForm("NewClaim", "Claim", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", role = "form" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 id="headNoCalc" class="marg-sm">
                <span id="claimId">
                        Новая заявка
                    </span>
            </h4>
        </div>
        <div class="panel-body">
            <div id="pnlClaimFormNoCalc" class="form-horizontal val-form col-sm-8 small" role="form">
                <div class="row">
                    <label class="col-lg-3 control-label required-mark">Тип заявки</label>
                    <div class="col-lg-6">
                        <div class=" form-control input-sm">
                            @foreach (var type in ClaimType.GetList())
                            {
                                <input type="radio" value="@type.Id" name="IdClaimType" required="required" />
                                @type.Name
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-3 control-label">№ конкурса из Эталон</label>
                    <div class="col-lg-2">
                        @Html.TextBoxFor(cl => cl.TenderNumber, new {id = "tenderNumber", @class = "form-control input-sm"})
                    </div>
                </div><!--№ конкурса из Эталон-->
                <div class="row">
                    <label class="col-lg-3 control-label required-mark">Дата начала</label>
                    <div class="col-lg-2">
                        @Html.TextBoxFor(cl => cl.TenderStart, "{0:dd.MM.yyyy}", new {style = "cursor: pointer;", @class = "form-control input-sm datepicker-btn", required = "required"})
                    </div>
                </div><!--Дата начала-->
                <div class="row">
                    <label class="col-lg-3 control-label required-mark">Срок сдачи расчета</label>
                    <div class="col-lg-2">
                        @Html.TextBoxFor(cl => cl.ClaimDeadline, "{0:dd.MM.yyyy}", new {id = "claimDeadline", style = "cursor: pointer;", @class = "form-control  input-sm datepicker-btn", required = "required" })
                    </div>
                </div> <!--Срок сдачи расчета-->
                <div class="row">
                    <label class="col-lg-3 control-label required-mark">Срок подачи КП</label>
                    <div class="col-lg-2">
                        @Html.TextBoxFor(cl => cl.KPDeadline, "{0:dd.MM.yyyy}", new {id = "kPDeadline", style = "cursor: pointer;", @class = "form-control input-sm datepicker-btn", required = "required"})
                    </div>
                </div><!--Срок подачи КП-->
                <div class="row">
                    <label class="col-lg-3 control-label required-mark">Заказчик</label>
                    <div class="col-lg-6">
                        @Html.TextBoxFor(cl => cl.Customer, new {id = "customer", @class = "form-control input-sm", required = "required"})
                    </div>
                </div><!--Заказчик-->
                <div class="row">
                    <label class="col-lg-3 control-label">ИНН заказчика</label>
                    <div class="col-lg-6">
                        @Html.TextBoxFor(cl => cl.CustomerInn, new {id = "innCustomer", @class = "form-control input-sm" })
                    </div>
                </div><!--ИНН заказчика-->
                <div class="row">
                    <label class="col-lg-3 control-label required-mark">Бюджет запроса</label>
                    <div class="col-lg-6">
                        <div id="sumPanel" class="input-group">
                            @Html.TextBoxFor(cl => cl.Sum,"{0:C}", new {id = "sum", @class = "form-control input-sm", required = "required"})
                            <span class="input-group-addon">
                                @Html.DropDownListFor(cl => cl.SumCurrency, currencyList)
                            </span>
                        </div>
                        <span id="sumLabel" style="display: none;" class="form-control"></span>
                    </div>
                </div><!--Бюджет запроса-->
                <div class="row">
                    <label class="col-lg-3 control-label required-mark">Тип сделки</label>
                    <div class="col-lg-6">
                        @Html.DropDownListFor(cl => cl.DealType, DealType.GetList(), "--выберите--", new {size = "1", id = "listDealTypes", @class = "form-control input-sm", required = "required" })
                    </div>
                </div><!--Тип сделки-->
                <div class="row">
                    <label class="col-lg-3 control-label">Ссылка на закупки</label>
                    <div class="col-lg-6">
                        @Html.TextBoxFor(cl => cl.TenderUrl, new {@class = "form-control input-sm" })
                    </div>
                </div><!--Ссылка на закупки-->
                <div class="row">
                    <label class="col-lg-3 control-label required-mark">Менеджер</label>
                    <div class="col-lg-2">
                        @Html.DropDownListFor(m => managerSid, Employee.GetManagerSelectList(userSid),"--выберите--", new {size = "1", id = "listManagers", @class = "form-control input-sm", required = "required"})
                    </div>
                </div><!--Менеджер-->
                <div class="row">
                    <label class="col-lg-3 control-label">Подразделение</label>
                    <div class="col-lg-6">
                        @Html.TextBoxFor(d => department, new {id = "managerSubDivision", @class = "form-control input-sm", @readonly = "true"})
                        <span ></span>
                        <span id="managerSubDivisionLabel" style="display: none;" class="form-control"></span>
                    </div>
                </div><!--Подразделение-->
                <div class="row">
                    <label class="col-lg-3 control-label">Срок поставки начало</label>
                    <div class="col-lg-2">
                        @Html.TextBoxFor(cl => cl.DeliveryDate, new {id = "deliveryDate", style = "cursor: pointer;", @class = "form-control input-sm datepicker-btn" })
                    </div>
                </div><!--Срок поставки начало-->
                <div class="row">
                    <label class="col-lg-3 control-label">Срок поставки окончание</label>
                    <div class="col-lg-2">
                        @Html.TextBoxFor(cl => cl.DeliveryDateEnd, new {id = "deliveryDateEnd", style = "cursor: pointer;", @class = "form-control input-sm datepicker-btn" })
                    </div>
                </div><!--Срок поставки окончание-->
                <div class="row">
                    <label class="col-lg-3 control-label">Место поставки</label>
                    <div class="col-lg-6">
                        @Html.TextBoxFor(cl => cl.DeliveryPlace, new {id = "deliveryPlace", @class= "form-control input-sm" })
                    </div>
                </div><!--Место поставки-->
                <div class="row">
                    <label class="col-lg-3 control-label">Дата аукциона</label>
                    <div class="col-lg-2">
                        @Html.TextBoxFor(cl => cl.AuctionDate, new {id = "auctionDate", style = "cursor: pointer;", @class = "form-control input-sm datepicker-btn" })
                    </div>
                </div><!--Дата аукциона-->
                <div class="row">
                    <label class="col-lg-3 control-label">Комментарий</label>
                    <div class="col-lg-6">
                        @Html.TextAreaFor(cl => cl.Comment, new {rows = "1", id = "comment", @class = "form-control input-sm" })
                    </div>
                </div><!--Комментарий-->
                <p>
                <div class="row">
                    <label class="col-lg-3 control-label">Файлы</label>
                    <div class="col-lg-6">
                        <input type="file" name="file" id="fileInput" multiple="multiple" accept=".xls,.xlsx,.doc,.docx"/>
                    </div>
                </div>
                </p>                <!--Файлы-->
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-8">
                        <button type="submit" id="butSaveClaim" class="btn btn-primary"><i class="fa fa-save"></i> сохранить</button>
                    </div>
                </div><!--сохранить-->
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function() {
        var startDate = "@minDate";
        $(".datepicker-btn").datepicker({
            format: "dd.mm.yyyy",
            autoclose: true,
            language: "ru"
        });
        $("#claimDeadline").datepicker("setStartDate", startDate);
        //{
        //    //todayBtn:false,
        //    startDate: new Date(startDate)
        //});
        $("#sum").change(function() {
            var sum = Number($("#sum").val().replace(",", "."));
            if (isNaN(sum)) {
                (alert("Бюджет должен быть числом"));
                $("#sum").val("");
            }             
        });
        
        
        $("#listManagers").change(function () {
            var opt = $("#listManagers option:selected")
            var url = "@Url.Action("GetDepartment","Claim")";
                var sid = $(opt).val();
            $.get(url, { sid: sid }, function(data) {
                $("#managerSubDivision").val(data);
            }); 
        });
        
    });
</script>
