@model SpeCalcDataAccessLayer.Models.SpecificationPosition
@{
    bool IsTransneft = ViewBag.ClaimType != null && ViewBag.ClaimType == "TRANS";
}
<tr id="newpos-@Model.Id" name="newpos" pid="@Model.Id"  style="background-color: #@Model.StateBackgroundColor">
    <td class="min-width text-center">
        <input type="checkbox" name="newCheckbox" value="@Model.Id"/>
    </td>
    @if (IsTransneft)
    {
        <td>@Model.ContractDeliveryTime</td>
        <td>@Model.Brand</td>
        <td>@Model.RecipientDetails</td>
        <td>@Model.QuestionnaireNum</td>
        <td>@Model.MaxPrice</td>
    }
    <td>
        @Model.CatalogNumber
    </td>
    <td>
        @Model.Name
    </td>
    <td class="text-right">
        @Model.Value
    </td>
    <td>
        @Model.UnitName
    </td>
    <td class="text-center">
        @Model.ProductManagerName
    </td>
    <td>
        @Model.Comment
    </td>
    <td class="min-width">
        <button type='button' name="newEdit" class='btn btn-warning' data-toggle='tooltip' title='изменить' cid="@Model.Id"><i class='fa fa-edit'></i></button>
        <button type='button' name="newDelete" class='btn btn-danger' data-toggle='tooltip' title='удалить' cid="@Model.Id"><i class='fa fa-trash'></i></button>
    </td>
</tr>