@using System.Activities.Statements
@using SpeCalc.Helpers
@using SpeCalc.Models
@using SpeCalc.Objects
@using SpeCalcDataAccessLayer.Objects
@model IEnumerable<SpeCalc.Models.Question>

@if (Model.Any())
{
    <table class="table table-bordered">
        <tr class="bg-primary">
            <th class="min-width">№</th>
            <th>Создано</th>
            <th class="text-nowrap">Срок сдачи</th>
            <th>Статус</th>
            <th class="text-nowrap">Менеджер</th>
            @*<th>Вопрос</th>*@
            @*@if (AdHelper.UserInGroup(User, AdGroup.SpeCalcManager))*@
            @if (ViewBag.CurUser.HasAccess(AdGroup.SpeCalcManager))
            {
                <th class="min-width"></th>
            }
        </tr>
        @foreach (Question que in Model)
        {
            <tr name="que-row" queid="@que.Id" class="question-row">
                <th>@que.Id</th>
                <td>@que.DateCreate.ToShortDateString()</td>
                <td>@que.DateLimit.ToShortDateString()</td>
                <td class="text-nowrap">@que.State.Name</td>
                <td class="text-nowrap">@que.Manager.DisplayName</td>
                @*<td>
                            @que.Descr
                    </td>*@
                @if (AdHelper.UserInGroup(User, AdGroup.SpeCalcManager) && que.State.OrderNum == 1)
                {
                    <td>
                        <button class="btn btn-link no-pad" name="delele-que" queid="@que.Id" data-toggle="tooltip" title="удалить"><i class="fa fa-trash"></i></button>
                    </td>
                }
            </tr>
        }
    </table>
}
else
{
    <p>
        По вашему запросу ничего не найдено
    </p>
}

<script type="text/javascript">

    $(document).ready(
        function () {
            $("[name='delele-que']").click(deletePosition);
            $("[name='que-row']").click(showQuestion);
        }
        );
    
    function showQuestion() {
        var id = $(this).attr('queid');
        window.open("/Question/Index/" + id);
    }

    function deletePosition(event) {
        if (!confirm('Вы действительно хотите удалить вопрос?')) return;
        event.stopPropagation();
        var id = $(this).attr('queid');
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DeleteQue", "Question")",
            data: { id: id },
            success: function (data) {
                if (data != null && data != '') {
                    alert(data);
                } else {
                    window.location.reload();
                }
            }
        });
    }
</script>
