@model IEnumerable<SpeCalcDataAccessLayer.ProjectModels.ProjectFileModel>
@foreach (var file in Model)
{
        var count = Model.Where(x => x.FileName == file.FileName).Count();
        var offset = ((count-file.VersionNumber)*3) + 3;
    <li style="@(file.IsLastVersion ? null : "padding-left: " + @offset + "px")">
        <span class="@(file.IsLastVersion && file.Enabled ? null : "text-danger")">
            v.@file.VersionNumber&nbsp;<a style="@(file.IsLastVersion && file.Enabled ? null : "text-decoration: line-through")" href="@Url.Action("GetFileData")?guid=@file.FileGUID.ToString()" target="_blank">@file.FileName</a>
        </span>
        <div class="text-xs" style="padding-left: @(file.VersionNumber > 9 ? "29" : "22")px;">
            @file.CreateDate.ToString("dd.MM.yyyy HH:mm") - @file.CreatorName
        </div>
        @if (!file.Enabled)
        {
            <div class="text-sm text-danger" style="padding-left: @(file.VersionNumber > 9 ? "29" : "22")px;">
                УДАЛЕН @(file.DeleteDate.HasValue ? file.DeleteDate.Value.ToString("dd.MM.yyyy HH:mm") : "неизвестно") - @file.DeleterName
            </div>
        }
    </li>
}