@model SpeCalcDataAccessLayer.ProjectModels.ProjectFolderModel

<li>
    <a id="folder-@Model.Folder.Id" href="#!" fid="@Model.Folder.Id" data-toggle="collapse" data-target="#files-cont-@Model.Folder.Id" name="folder">
        @*<i class="fa fa-caret-right" name="caret"></i>*@
        <i class="fa fa-folder folder-color" name="caret"></i> @Model.Folder.Name
    </a>
    <ul id="files-cont-@Model.Folder.Id" class="list-unstyled collapse" fid="@Model.Folder.Id" pid="@Model.ProjectId" name="folderFiles" style="margin-left: 10px;">
        <li>
            <ul id="files-@Model.Folder.Id" class="list-unstyled">
                @*@Html.Partial("FolderFiles", Model.FileList)*@
            </ul>
        </li>
        <li>
            <div class="fileUpload btn btn-xs btn-default">
                <span><i class="fa fa-upload"></i> загрузить</span>
                <input type="file" name="file" id="uploadFile-folder-@Model.Folder.Id" fid="@Model.Folder.Id" pid="@Model.ProjectId" class="upload"/>
            </div>
        </li>
    </ul>

</li>

