@model IEnumerable<SpeCalcDataAccessLayer.ProjectModels.ProjectFolderModel>

<ul class="list-unstyled">
    @foreach (var folder in Model)
    {
        <li>
            <h4>
                <a id="folder-history-@folder.Folder.Id" href="#!" fid="@folder.Folder.Id" data-toggle="collapse" data-target="#files-history-cont-@folder.Folder.Id" name="folder">
                    @*<i class="fa fa-caret-right" name="caret"></i>*@
                    <i class="fa fa-folder folder-color" name="caret"></i> @folder.Folder.Name
                </a>
            </h4>
            <ul id="files-history-cont-@folder.Folder.Id" class="list-unstyled collapse in" fid="@folder.Folder.Id" name="folderFiles" style="margin-left: 10px;">
                <li>
                    <ul id="files-history-@folder.Folder.Id" class="list-unstyled">
                        @Html.Partial("FilesHistory", folder.FileList)
                    </ul>
                </li>
                <li>
                    <div class="fileUpload btn btn-xs btn-default">
                        <span><i class="fa fa-upload"></i> загрузить</span>
                        <input type="file" name="file" id="uploadFile-folder-history-@folder.Folder.Id" fid="@folder.Folder.Id" pid="@folder.ProjectId" class="upload"/>
                    </div>
                </li>
            </ul>
        </li>
    }
</ul>

<script>
    $(function() {
        $("[id^=files-history-cont-]").on("hide.bs.collapse", function () {
            var fid = $(this).attr('fid');
            var $caret = $('#folder-history-' + fid).find('[name=caret]');
            $caret.addClass('fa-folder');
            $caret.removeClass('fa-folder-open');
            //$caret.addClass('fa-caret-right');
            //$caret.removeClass('fa-caret-down');
        });
        $("[id^=files-history-cont-]").on("show.bs.collapse", function () {
            var fid = $(this).attr('fid');
            var $caret = $('#folder-history-' + fid).find('[name=caret]');
            $caret.removeClass('fa-folder');
            $caret.addClass('fa-folder-open');
            //$caret.removeClass('fa-caret-right');
            //$caret.addClass('fa-caret-down');
        });

        $('[id^=uploadFile-folder-history-]').on('change', function (e) {
            var $this = $(this);
            var files = e.target.files;
            var fid = $this.attr('fid');
            var pid = $this.attr('pid');
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }
                    showSpinnerAppendAndDisable($this.parent('.btn'));
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("UploadFile")?pid='+pid+'&fid='+fid,
                        data: data,//{pid:pid, fid:fid},
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            loadFilesHistory(fid, pid);
                            hideSpinnerAndEnabled();
                            $this.val('');
                            loadFiles(fid, pid);
                        },
                        error: function(xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                            alert('Ошибка при сохранении файла!');
                            hideSpinnerAndEnabled();
                            $this.val('');
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });
    });

    function loadFilesHistory(fid, pid) {
        var $cont = $('#files-history-' + fid);
        $cont.html('');
        showSpinner($cont);
        $.ajax({
            url:'@Url.Action("GetFilesHistory")',
            method:'GET',
            data: { fid: fid, pid: pid },
            success: function (html) {
                $cont.html(html);
                hideSpinner($cont);
            },
            error:function(data) {
                alert('Ошибка при загрузке файлов папки!');
                console.log(data);
                hideSpinner($cont);
            }
        });
    }
</script>