
@model SpeCalcDataAccessLayer.ProjectPositionCalculations


<td name="calc" calcol="calcol" cpid="@Model.Id">@Model.CatalogNumber</td>
<td name="calc" calcol="calcol" cpid="@Model.Id">@Model.Name</td>
@*<td name="calc" cpid="@Model.Id"><span class="small" name="priceOnlineInfo" catnum="@Model.CatalogNumber"></span></td>*@
<td name="calc" calcol="calcol" cpid="@Model.Id">@(Model.Cost.HasValue ? Model.Cost.Value.ToString("F2") : null)</td>
<td name="calc" calcol="calcol" cpid="@Model.Id">@(Model.CurrencyId.HasValue ? Model.ProjectCurrencies.Name : null)</td>
<td name="calc" calcol="calcol" cpid="@Model.Id">@(Model.RecomendedPrice.HasValue ? Model.RecomendedPrice.Value.ToString("F2") : null)</td>
<td name="calc" calcol="calcol" cpid="@Model.Id" secol="secol">@Model.Provider</td>
<td name="calc" calcol="calcol" cpid="@Model.Id">@(Model.DeliveryTimeId.HasValue ? Model.ProjectPositionDeliveryTimes.Name : null)</td>
<td name="calc" calcol="calcol" cpid="@Model.Id" secol="secol">@(Model.ProtectionFactId.HasValue ? Model.ProjectProtectionFacts.Name : null)</td>
<td name="calc" calcol="calcol" cpid="@Model.Id" secol="secol">@Model.ProtectionFactCondition</td>
<td name="calc" calcol="calcol" cpid="@Model.Id" secol="secol">@Model.Comment</td>
<td name="calc" calcol="calcol" cpid="@Model.Id">
    <button type='button' name='btnEditCalc' class='btn btn-warning btn-sm' data-toggle='tooltip' title='изменить' cpid="@Model.Id"><i class='fa fa-edit'></i></button>
    <button type='button' name='btnDeleteCalc' class='btn btn-danger btn-sm' data-toggle='tooltip' title='удалить' cpid="@Model.Id"><i class='fa fa-trash'></i></button>
</td>