
@using SpeCalcDataAccessLayer.Models
@model SpeCalcDataAccessLayer.ProjectWorkCalculations

<td name="calc" cpid="@Model.Id">
    <input type="text" class="form-control input-xs" value="@Model.ExecutorName" name="calcExecutorName" placeholder="Исполнитель"/>
</td>
<td name="calc" cpid="@Model.Id">
    <textarea class="form-control input-xs" rows="3" placeholder="Наименование" name="calcName">@Model.Name</textarea>
</td>
<td name="calc" cpid="@Model.Id">
    <input type="text" class="form-control input-xs" value="@(Model.Cost.HasValue ? Model.Cost.Value.ToString("F2") : null)" name="calcCost" placeholder="Цена" />
</td>
<td name="calc" cpid="@Model.Id">
    @foreach (var qu in ProjectHelper.GetCurrencyList())
    {
        <div><input name="calcCurrency" type="radio" value="@qu.Id" @(Model.CurrencyId == qu.Id ? "checked=checked" : null)/> @qu.Name</div>
    }
</td>
<td name="calc" cpid="@Model.Id">
    <select name="calcExecutionTimeId" class="form-control input-xs">
        <option>--выберите--</option>
        @foreach (var del in ProjectHelper.GetExecutionTimesList())
        {
            <option value="@del.Id" @(del.Id == Model.ExecutionTimeId ? "selected" : String.Empty)>@del.Name</option>
        }
    </select>
</td>
<td name="calc" cpid="@Model.Id">
    <textarea class="form-control input-xs" rows="3" placeholder="Срок выполнения" name="calcExecutionTime">@Model.ExecutionTime</textarea>
</td>
<td name="calc" cpid="@Model.Id">
    <textarea class="form-control input-xs" rows="3" placeholder="Комментарий" name="calcComment">@Model.Comment</textarea>
</td>
<td name="calc">
    <button type='button' name='btnSaveCalc' class='btn btn-success btn-sm' data-toggle='tooltip' title='сохранить' cpid="@Model.Id"><i class='fa fa-save'></i></button><br />
    <button type='button' name='btnEditCalcCancel' class='btn btn-default btn-sm' data-toggle='tooltip' title='отмена' cpid="@Model.Id"><i class='fa fa-undo'></i></button>
</td>